.container{
    width: 80%;
    font-family: sans-serif;
    margin-top: 200px;
}

.table-container{
    margin-left: 25%;
}

.box{
    box-shadow: 0px 20px 50px #9e9e9e9e;
    width: 600px;
}

h2{
    color: #b4201b;
    margin: 0;
}
table{
    text-align: right;
}

/* Table Heading & Column */
th{
    background: #b22222;
    color: rgba(255, 255, 255, 0.7);
    font-weight: lighter;
}
td, th{
    padding: 10px 10px 0 20px;

}

td{
  width: 200px;
}


/* Table Rows */
tr{
    border-bottom: 1px solid #ccc;
}

tr:last-child{
    border: none;
 }

 /* Text */
p{
    padding: 5px 5px 0 0;
}

/* Other Styles */

.col-heading-left, .col-left{
    text-align: left; padding-left: 20px;
}

.col-left{
    background: #ddd;
}
